@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

a {
  text-decoration: none;
  color: #000;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
  border: 0;
}

html {
  font-size: 10px;
  overflow-x: hidden;  /* 화면 폭을 줄였을때 가로 스크롤바가 생기는 걸 방지 */
}

body {
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 1.6;
  color: #000;
  overflow-x: hidden;  /* 화면 폭을 줄였을때 가로 스크롤바가 생기는 걸 방지 */
  padding-top: 70px;   /* header 고정을 위한 값 */
}

/* ==== 공통영역 ==== */
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}


/* ==== 개별영역 ==== */
.wrap {
  position: relative;
}

/* Whole Menu */
.menu-btn {
  position: fixed;
  left: 60px;
  top: 20px;
  width: 30px;
  height: 30px;
  border: 0;
  background: transparent;
  z-index: 99999;
  cursor: pointer;
}

.menu-bt1 {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 24px;
  height: 5px;
  background: #212121;
  transition: transform 0.3s;
}

.menu-bt2 {
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 24px;
  height: 5px;
  background: #212121;
  transition: transform 0.3s;
}

.menu-btn-close > .menu-bt1 {
  transform: translate(-50%, 150%) rotate(45deg);
}

.menu-btn-close > .menu-bt2 {
  transform: translate(-50%, -150%) rotate(-45deg);
}

.menu-wrap::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 450px;
  height: 100%;
  background: #fbf6ee;
}

.menu-wrap {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 99998;
}

.depth1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 65px;
  margin: 3px 0 15px 120px;
}

.depth1 > li {
  width: auto;
}

.depth1 > li > a {
  position: relative;
}

.depth1 > li > a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background: #000;
  transition: all 0.3s;
}

.depth1 > li:hover > a::after {
  width: 100%;
}

.depth1 > li:hover > a {
  color: #09342c;
}

.depth1-more {
  height: 65px;
  overflow: hidden;
  transition: height 0.5s;
}

.depth2 {
  font-size: 17.6px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  color: #212121;
  overflow: hidden;
  transition: height 0.5s;
}

.depth2 li {
  position: relative;
}

.depth2 li a {
  margin-left: 15px;
}

.depth2 li a::after {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 0;
  display: block;
  width: 10px;
  height: 1px;
  background: #212121;
}

.depth2 li:hover a {
  color: #999;
}

/* header */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  z-index: 9999;
}

.header .inner {
  position: relative;
  display: block;
  max-width: calc(100vw - 120px);
  height: 70px;
}

.header .inner .logo {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 117px;
  height: 70px;
  transform: translate(-50%,-50%);
  font-size: 0;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}

.interface {
  position: absolute;
  right: 0;
  top: 26px;
}

.interface li {
  float: left;
  margin-left: 23px;
  font-size: 0;
}

.interface-login {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../images/icon-login.png') no-repeat center;
}

.interface-cart {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../images/icon-cart.png') no-repeat center;
}

.interface-search {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../images/icon-search.png') no-repeat center;
}

/* visual */
.visual-main {
  position: relative;
  display: block;
  width: 100vw;
  height: 850px;
  margin-bottom: 28px;
}

.sw-visual-1 {
  width: 100vw;
  height: 100%;
}

.vw-main-dark {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.04);
  width: 100%;
  height: 100%;
  z-index: 9;
}

.vs-main-1 {
  position: relative;
  background: url('../images/visual-main-1.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.vs-main-1 p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 75px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
  z-index: 10;
  white-space: nowrap;
}

.vs-main-2 {
  background: url('../images/visual-main-2.jpg') no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: 100%;
}

.vs-main-2-text {
  position: absolute;
  left: 20%;
  bottom: 20%;
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.3;
  z-index: 10;
  white-space: nowrap;
}

.vs-main-2-text p {
  margin-bottom: 35px;
}

.vs-main-3 {
  position: relative;
  background: url('../images/visual-main-3.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.vs-main-3-text {
  position: absolute;
  left: 20%;
  bottom: 20%;
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.3;
  z-index: 10;
  white-space: nowrap;
}

.vs-main-3-text p {
  margin-bottom: 35px;
}

.sw-vs-1-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
  z-index: 9;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  opacity: 0.5;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  opacity: 1;
}

.visual-shop {
  position: relative;
  display: block;
  width: 100vw;
  height: 593px;
  background: #19302a url('../images/visual-shop.jpg') no-repeat center;
  background-size: 1500px;
  margin-bottom: 30px;
}

.visual-motion {
  position: relative;
  display: block;
  width: 100%;
}

.visual-motion-1 {
  float: left;
  width: 33%;
  height: 540px;
  background: url('../images/visual-motion-1.png') no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
}

.visual-motion-2 {
  position: relative;
  float: right;
  width: calc(67% - 30px);
  height: 540px;
  background: url('../images/visual-motion-2.jpg') no-repeat center top;
  background-size: cover;
  margin-bottom: 30px;
  cursor: pointer;
}

.visual-motion-2 p {
  position: absolute;
  left: 10%;
  top: 30%;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  line-height: 50px;
  letter-spacing: -1px;
}

.visual-motion-3 {
  position: relative;
  float: left;
  width: 65%;
  height: 520px;
  background: url('../images/visual-motion-3.png') no-repeat center top;
  background-size: cover;
  cursor: pointer;
}

.visual-motion-3 p {
  position: absolute;
  left: 10%;
  top: 30%;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  line-height: 50px;
  letter-spacing: -1px;
}

.visual-motion-4 {
  float: right;
  width: calc(35% - 30px);
  height: 520px;
  background: url('../images/visual-motion-4.jpg') no-repeat center;
  background-size: cover;
}

/* products */
.products {
  position: relative;
  display: block;
  /* border-bottom: 1px solid #535353; */
}

.preview-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 60px;
}

.preview-left {
  margin-bottom: 60px;
  width: 27%;
  float: left;
}

.preview-txt {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
  margin-bottom: 60px;
}

.preview-left h3 {
  font-size: 16px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 10px;
}

.preview-category {
  display: block;
  width: 80%;
  max-width: 215px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  float: left;
  margin-right: 60px;
}

.preview-category li {}

.preview-category li a {
  display: block;
  font-size: 14px;
  line-height: 25px;
  color: rgba(33, 33, 33, 0.6);
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding: 5px 15px;
}

.preview-category .strong  {
  font-size: 16px;
  padding: 5px 1px;
  color: #333;
}

.preview-right {
  display: block;
  width: 73%;
  float: right;
}

.preview-products {
  position: relative;
  display: block;
}

.preview-products li {
  position: relative;
  display: block;
  width: 22.75%;
  height: 360px;
  text-align: center;
  float: left;
  margin-right: 3%;
}

.preview-products li:nth-child(4n) {
  margin-right: 0;
}

.preview-products li img {
  width: 100%;
  margin-bottom: 20px;
}

.preview-products-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  color: rgba(33, 33, 33, 0.85);
  line-height: 22px;
  margin-bottom: 3px;

  overflow:hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.preview-products-price {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  line-height: 18px;
  color: rgba(33, 33, 33, 0.6);
  margin-bottom: 9px;
}

.preview-products-price-ot {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  color: rgba(33,33,33,0.45);
  text-decoration: line-through;
}

.preview-products-option {
  width: 47px;
  height: 24px;
  background: #fe5356;
  font-size: 11px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin: 0 auto;
}

.preview-products-option2 {
  width: 47px;
  height: 24px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 11px;
  text-align: center;
  line-height: 24px;
  color: #fb4637;
  margin: 0 auto;
}

.color-option-set {
  position: absolute;
  top: -1%;
  right: 8%;
  z-index: 99;
}

.color-option-set span {
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid rgba(33,33,33,0.135);
  font-size: 0;
  margin-left: 5px;
}

.color-option-set span:first-child {
  background: #cfa13d;
}

.color-option-set span:last-child {
  background: #2d2c2c;
}

.best-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.best-wrap h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #212121;
}

.sw-bestproducts {
  max-width: 1250px;
  overflow: hidden;
  margin-bottom: 100px;
}

.best-list-wrap{
  display: block;
}

.best-list-wrap li {
  /* width: 238px; */
  text-align: center;
  /* margin-right: 15px; */
}

.best-list-wrap li img {
  /* width: 238px; */
  height: 238px;
  margin-bottom: 25px;
}

.best-products-title {
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  color: #121212;
  white-space: wrap;
}

.best-products-price {
  font-size: 12px;
  font-weight: 600;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  color: #09342c;
}

.best-products-price-ot {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  color: rgba(33,33,33,0.45);
  text-decoration: line-through;
}

.products hr {
  width: 100%;
  height: 1px;
  background: #464646;
  border: none;
}

/* notice & press */
.notice-press {
  position: relative;
  display: block;
  padding-top: 75px;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
}

.notice-press .inner {
  max-width: 1250px;
}

.notice-press-title {
  width: 17.5%;
  float: left;
}

.notice-press-title strong {
  font-size: 17px;
  font-weight: 900;
  color: #212121;
}

.notice-press-title h3 {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  margin-top: 13px;
}

.notice-press ul li a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  font-size: 14px;
  line-height: 20px;
  color: #000;

  overflow:hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.notice {
  position: relative;
  display: block;
}

.notice-press ul {
  width: 82.5%;
  float: right;
  margin-bottom: 70px;
}

.notice-press ul li {
  float: left;
  width: 23%;
  margin-right: 2.6%;
}

.notice-press ul li .picture {
  width: 100%;
  height: 18.5vw;
  max-height: 235px;
  margin-bottom: 20px;
}

.notice-press ul li:last-child {
  margin-right: 0;
}

.notice-press hr {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.04);
  border: none;
}

.notice li:first-child .picture {
  background: url('../images/notice1.jpg') no-repeat center;
  background-size: cover;
}

.notice li:nth-child(2) .picture {
  background: url('../images/notice2.jpg') no-repeat center;
  background-size: cover;
}

.notice li:nth-child(3) .picture {
  background: url('../images/notice3.jpg') no-repeat center;
  background-size: cover;
}

.notice li:last-child .picture {
  background: url('../images/notice4.png') no-repeat 50% top;
  background-size: cover;
}

.press {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.press li:first-child .picture {
  background: url('../images/press1.png') no-repeat center;
  background-size: cover;
}

.press li:nth-child(2) .picture {
  background: url('../images/press2.png') no-repeat center;
  background-size: cover;
}

.press li:nth-child(3) .picture {
  background: url('../images/press3.png') no-repeat center;
  background-size: cover;
}

.press li:last-child .picture {
  background: url('../images/press5.jpg') no-repeat center;
  background-size: cover;
}

/* instagram */
.insta {
  position: relative;
  display: block;
}

.insta .inner {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
}

.insta h3 {
  font-size: 22.5px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #666;
  text-transform: uppercase;
  margin: 70px 0;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
}

.insta-pic {
  margin-bottom: 140px;
}

.insta-pic li {
  display: block;
  float: left;
  width: 18.8%;
  height: 17.5vw;
  max-height: 233px;
  margin-right: 1.5%;
  margin-bottom: 20px;
}

.insta-pic li:first-child a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta1.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(2) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta2.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(3) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta3.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(4) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta4.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(5) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta5.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(6) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta6.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(7) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta7.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(8) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta8.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(9) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta9.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(10) a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/insta10.jpg') no-repeat center;
  background-size: cover;
}

.insta-pic li:nth-child(5n) {
  margin-right: 0;
}

.insta .inner button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  width: 75px;
  height: 40px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  background: #183029;
  border: none;
  cursor: pointer;
}


/* footer */
.footer {
  position: relative;
  display: block;
  background: #183029;
}

.footer-inner {
  max-width: 1365px;
  margin: 0 auto;
  padding-top: 45px;
}

.footer-logo {
  width: 90px;
  height: 45px;
  background: url('../images/logo-white.png') no-repeat left center;
  background-size: contain;
  margin-bottom: 20px;
}

.footer-left {
  width: 50%;
  float: left;
}

.footer-left span {
  display: inline-block;
  width: 2px;
  height: 13px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 0;
  margin: 0 8px;
}

.footer-left p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  line-height: 22px;
}

.footer-left p a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  line-height: 22px;
}

.footer-left .strong {
  position: relative;
  padding-top: 10px;
}

.footer-left .strong a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 20px;
  cursor: pointer;
  float: left;
}

.footer-left .strong span {
  position: absolute;
  left: 69px;
  top: 15px;
  display: block;
  width: 2px;
  height: 11px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0;
}

.app-download {
  position: relative;
  width: 190px;
  height: 57px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  margin-top: 43px;
  margin-bottom: 50px;
}

.app-download img {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}

.app-download .icon-apple {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: #fff;
}

.app-download p {
  margin-left: 60px;
  line-height: 18px;
  font-size: 12px;
  text-align: left;
  color: #fff;
}

.footer-right {
  position: relative;
  width: 50%;
  float: right;
}

.footer-r1 {
  width: 35%;
  float: left;
}

.footer-r1 li {
  margin-bottom: 15px;
}

.footer-r1 li a {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

.footer-r2 {
  float: left;
}

.footer-r2 li {
  margin-bottom: 6px;
}

.footer-r2 li a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.icon-instagram {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
}

.footer-inner hr {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
}

.footer-copy {
  position: relative;
  height: 60px;
}

.footer-copy p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
}
