@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

a {
  text-decoration: none;
  color: #000;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
  border: 0;
}

html {
  font-size: 10px;
  overflow-x: hidden;  /* 화면 폭을 줄였을때 가로 스크롤바가 생기는 걸 방지 */
}

body {
  font-family: 'helvetica','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 1.6;
  color: #000;
  overflow-x: hidden;  /* 화면 폭을 줄였을때 가로 스크롤바가 생기는 걸 방지 */
}

/* ==== 공통영역 ==== */
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}


/* ==== 개별영역 ==== */

/* header */
.header {
  position: relative;
  display: block;
  background: #fff;
}

.header .inner {
  position: relative;
  display: block;
  max-width: calc(100vw - 120px);
  height: 70px;
}

.header .menu-bt {
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  display: block;
  width: 24px;
  height: 5px;
  background: #212121;
}

.header .menu-bt::after {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  display: block;
  width: 24px;
  height: 5px;
  background: #212121;
}

.header .inner .logo {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 117px;
  height: 70px;
  transform: translate(-50%,-50%);
  font-size: 0;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}

/* visual */
.visual-main {
  position: relative;
  display: block;
  width: 100vw;
  height: 850px;
  margin-bottom: 28px;
}

.sw-visual-1 {
  width: 100vw;
  height: 850px;
}

.vw-main-dark {
  position: absolute;
  left: 0;
  top: 0;
  background: #555;
  width: 100%;
  height: 100%;
  opacity: 15%;
  mix-blend-mode: multiply;
  z-index: 9;
}

.vs-main-1 {
  position: relative;
  background: url('../images/visual-main-1.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 850px;
}

.vs-main-1 p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 76px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
  z-index: 10;
  white-space: nowrap;
}

.vs-main-2 {
  position: relative;
  background: url('../images/visual-main-2.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 850px;
}

.vs-main-2-text {
  position: absolute;
  left: 20%;
  bottom: 170px;
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.3;
  z-index: 10;
  white-space: nowrap;
}

.vs-main-2-text p {
  margin-bottom: 35px;
}

.vs-main-3 {
  position: relative;
  background: url('../images/visual-main-3.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 850px;
}

.vs-main-3-text {
  position: absolute;
  left: 20%;
  bottom: 150px;
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.3;
  z-index: 10;
  white-space: nowrap;
}

.vs-main-3-text p {
  margin-bottom: 35px;
}

.sw-vs-1-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
  z-index: 9;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  opacity: 0.5;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  opacity: 1;
}

.visual-shop {
  position: relative;
  display: block;
  width: 100vw;
  height: 593px;
  background: url('../images/visual-shop.jpg') no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
}

.visual-motion {
  position: relative;
  display: block;
  width: 100%;
}

.visual-motion-1 {
  float: left;
  width: 33%;
  height: 540px;
  background: url('../images/visual-motion-1.png') no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
}

.visual-motion-2 {
  float: right;
  width: calc(67% - 30px);
  height: 540px;
  background: url('../images/visual-motion-2.jpg') no-repeat center top;
  background-size: cover;
  margin-bottom: 30px;
}

.visual-motion-2 P {
  padding: 180px 0 0 115px;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  line-height: 50px;
  letter-spacing: -1px;
}

.visual-motion-3 {
  float: left;
  width: 65%;
  height: 520px;
  background: url('../images/visual-motion-3.png') no-repeat center top;
  background-size: cover;
}

.visual-motion-4 {
  float: right;
  width: calc(35% - 30px);
  height: 520px;
  background: url('../images/visual-motion-4.jpg') no-repeat center;
  background-size: cover;
}

/* products */
.products {
  position: relative;
  display: block;
}

.preview-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 60px 0;
}

.preview-left {
  margin-bottom: 60px;
  float: left;
}

.preview-txt {
  display: block;
  width: 330px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
  margin-bottom: 60px;
}

.preview-left h3 {
  font-size: 16px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 10px;
}

.preview-category {
  display: block;
  width: 248px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  float: left;
  margin-right: 60px;
}

.preview-category li {}

.preview-category li a {
  display: block;
  font-size: 14px;
  line-height: 25px;
  color: rgba(33, 33, 33, 0.6);
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding: 5px 15px;
}

.preview-category .strong  {
  font-size: 16px;
  padding: 5px 1px;
  color: #333;
}

.preview-right {
  display: block;
  width: calc(100% - 330px);
  float: right;
}

.preview-products {
  position: relative;
  display: block;
}

.preview-products li {
  position: relative;
  display: block;
  width: 215px;
  height: 410px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.preview-products li:nth-child(4n) {
  margin-right: 0;
}

.preview-products li img {
  width: 215px;
  height: 215px;
}

.preview-products-title {
  display: block;
  font-size: 14px;
  color: rgba(33, 33, 33, 0.85);
  word-wrap: break-word;
  word-break: keep-all;
}

.preview-products-price {}

.preview-products-price-ot {}

.preview-products-option {}

.best-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.best-wrap h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 65px;
  color: #212121;

}

/* notice & press */
.notice-press {
  position: relative;
  display: block;
}

.notice {
  position: relative;
  display: block;
}

.press {
  position: relative;
  display: block;
}

/* instagram */
.insta {
  position: relative;
  display: block;
}

/* footer */
.footer {
  position: relative;
  display: block;
}

.footer-left {
  
}

.footer-right {

}

.footer-copy {
  
}
